<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center profilecreationheader_p">Join Malaysia's largest startup community</h1>
        <p class="text-center profilecreationsub_p"> Experience the startup ecosystem — invest in startups, research the fastest-growing companies, and find a job you love.</p>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>