<div class="home-callout text-center container-fluid">
    <h1>Welcome to Spearhead</h1>
    <h3>Spearhead is a platform for startups to raise money online, recruit employees, and apply for funding.</h3>
</div>